# Python
*.pyc
__pycache__/

# Virtual environment
.venv/
env/

# Django stuff:
*.sqlite3
db.sqlite3
*.log

# # Django migrations
# */migrations/*

# VSCode settings (optional)
.vscode/

# Environment variables file (if any)
.env
